<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if currentUser}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.fullName}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">New Project</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">My Projects</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/my-projects">My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li> --}}
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li> --}}

      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        {{/if}}
      </ul>
    </nav>

    <h4>Welcome back, <b>{{currentUser.fullName}}!</b></h4>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>

</body>
</html>