<h2>{{ projectItem.title }}</h2>
<h3>{{ projectItem.category }}</h3>

<img src="{{ projectItem.template }}"/>

<img src="{{ projectItem.color }}">

<img src="{{ projectItem.font }}">

<a href="/templates/{{projectItem._id}}">Edit Project</a>
<a href="/{{ projectItem._id }}/delete">Delete Project</a>