<h2>{{ projectItem.title }}</h2>
<h3>{{ projectItem.category }}</h3>

<img src="{{ projectItem.template }}"/>

<img src="{{ projectItem.color }}">

<img src="{{ projectItem.font }}">

<a href="">Edit Project</a>
<a href="">Delete Project</a>